
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  padding-top: 62px;
}

img {
  max-width: 100%;
}


/*
* Background colors
*/

.dark-teal-bkgrnd{
  background-color: #558C89;
}

.light-teal-bkgrnd{
  background-color: #74AFAD;
}

.light-gray-bkgrnd{
  background-color: #ECECEA;
}

/*
* Home/top navbar styling
*/

.home-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #74AFAD;

  li{
    list-style: none;
  }

  li  a{
    color: #D9853B;
  }
}

.mission-statement{
  color: #ECECEA;
}

.description{
  h3{
    font-size: 35px;
    font-weight: bold;
    color: #558C89;
  }
  p{
    font-size: 25px;
    color: #74AFAD;
  }
}

.btn-primary{
  font-size: 20px;
  background-color: #D9853B;
}

// .find-deg-contain{
//   min-height: 430px;
// }

/*
* Profile create edit styling
*/

.img-preview{
  width: 200px;
  height: 200px;
}


/*
*Profile details styling
*/

.user-profile-contain{
  border: 1px solid black;
  border-radius: 20px;
  padding: 25px;
  margin-top: 50px;
  margin-bottom: 50px;

  h2{
    text-align: center;
  }

  label{
    padding-right: 8px;
  }
}

.user-name{
  margin-bottom: 20px;

  span{
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid black;
  }
}

.user-avatar{
  text-align: center;
  padding-top: 20px;

  img{
    border-radius: 50%;
    max-height: 225px;
    max-width: 225px;
  }
}

.user-profile-details{
  text-align: center;
  padding-top: 20px;
}

.user-degrees{
  list-style: none;
}

.edit-profile-btn{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

/*
* Review create edit styling
*/

.review-form-contain{
  border: 1px solid black;
  border-radius: 20px;
  padding: 50px;

  p{
    font-weight: bold;
  }
}

.review-form-title{
  text-align: center;
}

.select-degree-contain{
  padding-top: 50px;

  select{
    display: inline-block;
  }
}

.checkbox{
  margin-top: 30px;

  h4{
    font-size: 16px;
    font-weight: bold;
  }

  label{
    padding-right: 8px;
  }
}

.form-group{
  margin-top: 30px;
}

.user-rev-list{
  margin-top: 90px;
}

/*
* Review Results styling
*/

.review-search{
  margin-bottom: 50px;
}

.review-contain{
  border: 1px solid black;
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 30px;

  label{
    padding-right: 10px;
  }
}

.my-reviews-title{
  h2{
    font-size: 25px;
  }
}

.search-title{
  h2{
    font-size: 25px;
  }
}

.review-owner{
  border-bottom: 1px solid black;
  margin-bottom: 30px;

  span{
    font-size: 20px;
  }

  p{
    float: right;
  }
}

.review-major{
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.review-salary{
  margin-bottom: 20px;
}

.review-rating{
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.review-employ{
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.review-experience{
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}

.review-submit{
  margin-top: 20px;

  a{
    margin-left: 10px;
  }
}

/*
* Degree select styling
*/

.degree-select-contain{
  border: 1px solid black;
  border-radius: 20px;
  padding: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.degree-select{
  padding: 50px;
}

.view-salary-btn{
  margin-bottom: 30px;
}

/*
* Degree detail styling
*/

.degree-detail-contain{
  border: 1px solid black;
  padding: 50px;
  margin-top: 100px;
}
.degree-detail-title{
  text-align: center;
  margin-bottom: 30px;
}

.program-level{
  text-align: center;
}

.dif-title{
  text-align: center;
}

.dif-in-salaries{
  text-align: center;
  border: 1px solid black;
  margin-bottom: 30px;

  span{
    color: red;
    padding-left: 10px;
  }
}

.avg-salary{
  text-align: center;
  border: 1px solid black;
  margin-bottom: 30px;
}

.degree-select-nav{
  text-align: right;
}

/*
* Footer styling
*/

.footer{
  border-top: 1px solid #EEEEEE;
  padding: 50px;
  margin-top: 50px;
}

.footer-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;

  li{
    display: inline-block;
    list-style: none;

    > a{
      padding-left: 20px;
    }

    a{
      color: #D9853B;
    }
  }
}
