
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/*
* Home/top navbar styling
*/

.home-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #EEEEEE;

  li{
    list-style: none;
  }
}

/*
*user Profile details styling
*/

.user-profile{
  border: 1px solid #EEEEEE;
}

.user-avatar{
  text-align: center;
  padding-top: 20px;
}

.user-profile-details{
  text-align: center;
  padding-top: 20px;
}

.edit-profile-btn{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

/*
* Footer styling
*/

.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-nav{
  li{
    display: inline-block;
    list-style: none;
    padding-left: 10px;
  }
}
