
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


/*
background color variables
*/

$dark-teal-bkgrnd: #558C89;
$light-teal-bkgrnd: #74AFAD;
$light-grey-bkgrnd: #ECECEA;


/*
font color variables
*/

$white: #FFF;
$dark-teal: #558C89;
$light-teal: #74AFAD;
$light-grey: #ECECEA;


/*
border color variables
*/

$black-border: #000;


/*
nav link and button color variable
*/

$burnt-orange: #D9853B;


*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  color: $light-grey;
  padding-top: 70px;
}

img {
  max-width: 100%;
}


/*
app container styling
*/


.app-wrapper{
  background-color: $light-grey-bkgrnd;
  background: linear-gradient(to right bottom, black, $light-teal-bkgrnd);
}

.load {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #000000;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
}

.loading {
  position: absolute;
  top: calc(60% - 3em);
  left: calc(50% - 4em);
  width: 5em;
  height: 5em;
  border: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #FFF;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/*
* Home/top navbar styling
*/

.header-nav{
  // background-color: black;
  background-color: $dark-teal-bkgrnd;
  padding: 10px;

  li{
    list-style: none;
  }

  li  a{
    color: $white;
  }

  li a:hover{
    color: $burnt-orange;
  }
}

.dropdown-menu{
  background-color: $light-teal-bkgrnd;
}

.logo{
  display: inline-block;
  max-height: 35px;
}

li.nav-mobile {
  @media screen and (min-width: 500px) {
    display: none;
  }
}

li.nav-desktop {
  @media screen and (max-width: 500px) {
    display: none;
  }
}

.banner-contain{
  background-color: $dark-teal-bkgrnd;
  // background-color: black;
}

.home-banner{
  background-color: $dark-teal-bkgrnd;
  // background-color: black;
  margin-top: 10px;
}

.mission-statement{
  color: $light-grey;

  h1{
    font-size: 25px;
    padding-left: 45px;
  }
}

.description{
  h3{
    font-size: 35px;
    font-weight: bold;
    color: $light-grey;
    // color: $dark-teal;
  }
  p{
    font-size: 25px;
    color: $light-grey;
    // color: $light-teal;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.btn-primary{
  font-size: 20px;
  background-color: $burnt-orange;
}

.leave-rev-contain{
  margin-top: 40px;
  margin-bottom: 30px;
}

.find-deg-contain{
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

/*
* Profile create edit styling
*/


.profile-form-contain{
  min-height: 69vh;

  margin-top: 50px;
  padding: 50px;
  
  color: $dark-teal;
  background: $light-grey-bkgrnd;
  
  border: 1px solid $black-border;
  border-radius: 20px;

  h1{
    margin-bottom: 30px;
  }
}

.img-preview{
  width: 200px;
  height: 200px;
}

.add-degree-contain{
  margin-top: 25px;
  margin-bottom: 25px;

  button{
    background-color: #5C974C;

    span{
      color: $white;
    }
  }
}

.user-degree-list{
  font-size: 16px;
  margin-top: 20px;
  list-style: square;

  button{
    float: right;
    background-color: inherit;
  }

  button > span{
    background-color: inherit;
    color: red;
  }
}

.save-profile{
  display: inline-block;
  margin-right: 15px;
}


/*
*Profile details styling
*/

.user-profile-contain{
  color: black;
  background-color: $light-teal;
  border: 1px solid $black-border;
  border-radius: 20px;
  padding: 25px;
  margin-top: 50px;
  margin-bottom: 50px;

  h2{
    text-align: center;
  }

  label{
    padding-right: 8px;
  }
}

.user-avatar{
  text-align: center;
  padding-top: 20px;

  img{
    border-radius: 50%;
    max-height: 225px;
    max-width: 225px;
  }
}

.user-profile-details{
  text-align: center;
  padding-top: 20px;

  label{
    font-size: 20px;
  }

  span{
    font-size: 18px;
  }
}

.user-degrees{
  list-style: none;
}

.edit-profile-btn{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.user-name{
  margin-bottom: 20px;

  span{
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid $black-border;
  }
}

/*
* Review create edit styling
*/

.review-form-contain{
  height: 68vh;

  color: $dark-teal;
  background-color: $light-grey;

  border: 1px solid $black-border;
  border-radius: 20px;

  padding: 50px;

  p{
    font-weight: bold;
  }
}

.review-form-title{
  text-align: center;
}

.select-degree-contain{
  padding-top: 50px;

  select{
    display: inline-block;
  }
}

.checkbox{
  margin-top: 30px;

  h4{
    font-size: 16px;
    font-weight: bold;
  }

  label{
    padding-right: 8px;
  }
}

.form-group{
  margin-top: 30px;
}

.user-rev-list{
  margin-top: 90px;
}

/*
* Review Results styling
*/

.results-contain {
  height: 75vh;
}

.review-search {
  margin-bottom: 50px;
}

.review-contain{
  color: black;
  background-color: $light-teal-bkgrnd;
  border: 1px solid $black-border;
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 30px;

  label{
    font-size: 18px;
    padding-right: 10px;
  }

  span{
    font-size: 18px;
  }
}

.my-reviews-title{
  h2{
    font-size: 25px;
  }
}

.search-title{
  h2{
    font-size: 25px;
  }
}

.review-owner{
  border-bottom: 1px solid $black-border;
  margin-bottom: 30px;

  span{
    font-size: 20px;
  }

  p{
    float: right;
  }
}

.review-major{
  border-bottom: 1px solid $black-border;
  margin-bottom: 20px;
}

.review-salary{
  margin-bottom: 20px;
}

.review-rating{
  border-bottom: 1px solid $black-border;
  margin-bottom: 20px;
}

.review-employ{
  border-bottom: 1px solid $black-border;
  margin-bottom: 20px;
}

.review-experience{
  margin-bottom: 20px;
  border-bottom: 1px solid $black-border;
}

.review-submit{
  margin-top: 20px;

  a{
    margin-left: 10px;
  }
}

/*
* Degree select styling
*/

.degree-select-contain{
  color: $dark-teal;
  background-color: $light-grey;
  border: 1px solid $black-border;
  border-radius: 20px;
  padding: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.degree-select{
  padding: 50px;
}

.view-salary-btn{
  margin-bottom: 30px;
}

/*
* Degree detail styling
*/

.degree-detail-contain{
  color: $dark-teal;
  background-color: $light-grey;
  border: 1px solid $black-border;
  padding: 50px;
  margin-top: 100px;
}
.degree-detail-title{
  text-align: center;
  margin-bottom: 30px;
}

.program-level{
  text-align: center;
}

.dif-title{
  text-align: center;
}

.dif-in-salaries{
  text-align: center;
  border: 1px solid $black-border;
  margin-bottom: 30px;

  label{
    font-size: 14px;
  }

  span{
    font-size: 18px;
    color: red;
    padding-left: 10px;
  }
}

.avg-salary{
  text-align: center;
  border: 1px solid $black-border;
  margin-bottom: 30px;

  h5{
    font-size: 20px;
  }
}

.degree-select-nav{
  text-align: right;
}

.school-list{
  list-style: none;
  padding-left: 0px;

  li{
    background: $light-teal-bkgrnd;
    border: 3px solid $light-grey;
    margin-bottom: 20px;
    padding: 20px;
  }

  h5{
    color: #334544;
  }

  label{
    padding-right: 5px;
  }
}

.school{
  h5{
    font-size: 20px;
    font-weight: bold;
  }
}

.school-data{
  label{
    font-size: 18px;
  }

  span{
    font-size: 17px;
  }
}

/*
* Footer styling
*/

.footer{
  background-color: $dark-teal-bkgrnd;
  padding: 50px;
  margin-top: 50px;
}

.footer-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;

  li{
    display: inline-block;
    list-style: none;

    > a{
      padding-left: 20px;
    }

    a{
      color: $burnt-orange;
    }
  }
}
